<div class="hero-unit">

<h1>Welcome to Kandu</h1>
<p>You've found the home for the
<%= link_to "Kandu App", "http://kanduapp.com" %>
</p>

<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

	<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary" %>
</p>

</div>