	<tr>
        <td><%= taskblock.description %></td>
        <td><%= link_to 'Show', taskblock %></td>
        <td><%= link_to 'Edit', edit_taskblock_path(taskblock) %></td>
        <td><%= link_to 'Destroy', taskblock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>