<h1>Listing taskblocks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <%= render @taskblocks %>
  </tbody>
</table>

<br>

<%= link_to 'New Taskblock', new_taskblock_path %>
