<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @taskblock.description %>
</p>

<%= link_to 'Edit', edit_taskblock_path(@taskblock) %> |
<%= link_to 'Back', taskblocks_path %>
